<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Page Title -->
    <title>Anefty || {% block title %}{% endblock title %}</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" />

    <!-- Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lexend:wght@500;600;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">

    <!-- ======= FontAwesome ======= -->
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}" />

    <!-- ======= Bootstrap ======= -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />

    <!-- ======= Swiper Bundle ======= -->
    <link rel="stylesheet" href="{% static 'assets/plugins/swiper/swiper-bundle.min.css' %}" />

    <!-- ======= Magnific Popup ======= -->
    <link rel="stylesheet" href="{% static 'assets/plugins/magnific-popup/magnific-popup.css' %}" />

    <!-- ======= Main Stylesheet ======= -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />

    <!-- ======= Custom Stylesheet ======= -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
</head>

<body data-bg-img="{% static 'assets/img/bg/page-bg.png' %}">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <img src="{% static 'assets/img/icons/text.svg' %}" alt="" class="svg preloader-svg">
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Header -->
    <header class="header">
        <!-- Header Main -->
        <div class="header-main love-sticky fixed-top">
            <div class="container">
                <div class="header-inner position-relative">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-6 col-sm-9 col-6">
                            <div class="d-flex align-items-center">
                                <!-- Start Logo -->
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="{% static 'assets/img/logo.svg' %}" class="main-logo" alt="">
                                        <img src="{% static 'assets/img/sticky-logo.svg' %}" class="sticky-logo" alt="">
                                    </a>
                                </div>
                                <!-- End of Logo -->

                                <!-- Search Form -->
                                <form class="search-form d-none d-sm-block ms-4" action="#">
                                    <div class="form-group">
                                        <button type="submit">
                                            <img src="{% static 'assets/img/icons/search.svg' %}" class="svg" alt="">
                                        </button>

                                        <input type="text" class="form-control mb-0" placeholder="Search item…">
                                    </div>
                                </form>
                                <!-- End Search Form -->
                            </div>
                        </div>

                        <div
                            class="col-lg-8 col-md-6 col-sm-3 col-6 d-flex align-items-center justify-content-end position-static">
                            <div class="nav-wrapper d-flex align-items-center">
                                <div class="nav-wrap-inner">
                                    <!-- Nav -->
                                    <ul class="nav">
                                        <li class="current-menu-parent">
                                            <a href="#">Home</a>
                                            <ul class="sub-menu">
                                                <li class="current-menu-children"><a href="index.html">Home V1</a></li>
                                                <li><a href="home-v2.html">Home V2</a></li>
                                                <li><a href="home-v3.html">Home V3</a></li>
                                                <li><a href="home-v4.html">Home V4</a></li>
                                                <li><a href="home-v5.html">Home V5</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Explore</a>
                                            <ul class="sub-menu">
                                                <li><a href="explore.html">Explore</a></li>
                                                <li><a href="profile.html">Profile</a></li>
                                                <li><a href="create.html">Create</a></li>
                                                <li><a href="wallet.html">Wallet</a></li>
                                                <li><a href="help-center.html">Help Center</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="author.html">Author</a></li>
                                                <li><a href="ranking.html">ranking</a></li>
                                                <li><a href="collection.html">Collection</a></li>
                                                <li><a href="item-details.html">Item Details</a></li>
                                                <li><a href="activity.html">Activity</a></li>
                                                <li><a href="upload.html">Upload</a></li>
                                                <li><a href="profile-edit.html">Profile Edit</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="register.html">Register</a></li>
                                                <li><a href="404.html">404</a></li>
                                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                    <!-- End Nav -->
                                </div>

                                <div class="d-none d-md-flex align-items-center ms-4">
                                    <a href="create.html" class="btn">
                                        <img src="{% static 'assets/img/icons/create-icon.svg' %}" alt="" class="svg">
                                        Create
                                    </a>

                                    <div class="dropdown ml-10">
                                        <a href="#" class="user-avatar dropdown-toggle" data-bs-toggle="dropdown">
                                            <img src="{% static 'assets/img/media/user.png' %}" alt="">
                                            <span class="user-status">
                                                <img src="{% static 'assets/img/icons/check.svg' %}" class="svg" alt="">
                                            </span>
                                        </a>
                                        
                                        {% if request.user.is_authenticated %}
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="profile.html"><img
                                                            src="assets/img/icons/profile.svg" alt="">
                                                        Profile</a></li>
                                                <li><a class="dropdown-item" href="create.html"><img
                                                            src="assets/img/icons/create.svg" alt=""> Create</a>
                                                </li>
                                                <li><a class="dropdown-item" href="collection.html"><img
                                                            src="assets/img/icons/collection.svg" alt="">
                                                        Collection</a></li>
                                                <li><a class="dropdown-item" href="wallet.html"><img
                                                            src="assets/img/icons/wallet.svg" alt=""> Wallet</a>
                                                </li>
                                                <li><a class="dropdown-item" href="{% url 'accounts:logout' %}"><img
                                                            src="assets/img/icons/explore.svg" alt="">
                                                        Logout</a></li>
                                            </ul>
                                        {% else %}
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{% url 'accounts:login' %}"><img
                                                        src="assets/img/icons/profile.svg" alt="">
                                                    Login</a></li>
                                            <li><a class="dropdown-item" href="{% url 'accounts:register' %}"><img
                                                        src="assets/img/icons/create.svg" alt="">Register</a>
                                            </li>
                                           
                                        </ul>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Main -->
    </header>
    <!-- End Header -->



    {% block body %}

    {% endblock body %}


    <!-- Footer -->
    <footer class="footer">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-sm-6">
                        <!-- Widget Nav Menu -->
                        <div class="widget widget_nav_menu">
                            <h4 class="widget_title">My Account</h4>
                            <ul>
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="author.html">Author</a></li>
                                <li><a href="collection.html">My Collections</a></li>
                                <li><a href="author.html">Settings</a></li>
                                <li><a href="activity.html">Activity</a></li>
                            </ul>
                        </div>
                        <!-- End Widget Nav Menu -->
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <!-- Widget Nav Menu -->
                        <div class="widget widget_nav_menu">
                            <h4 class="widget_title">Marketplace</h4>
                            <div class="footer-list-wrap">
                                <ul>
                                    <li><a href="explore.html">All NFTs</a></li>
                                    <li><a href="explore.html">Trading Paint</a></li>
                                    <li><a href="explore.html">Art Painting</a></li>
                                    <li><a href="explore.html">Virtual Paints</a></li>
                                    <li><a href="explore.html">Collectibles</a></li>
                                </ul>
                                <ul>
                                    <li><a href="contact.html">Terms of Service</a></li>
                                    <li><a href="contact.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Widget Nav Menu -->
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <!-- Widget Newsletter -->
                        <div class="widget widget_newsletter">
                            <h4 class="widget_title">Newsletter</h4>

                            <form
                                action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&id=f4e0e93d1d"
                                class="newslatter-form">
                                <div class="theme-input-group">
                                    <input class="form-control" type="email" placeholder="Enter Your Email...">
                                    <button type="submit" class="submit-btn btn"><img src="{% static 'assets/img/icons/mail.svg' %}"
                                            alt="" class="svg"> Signup Now</button>
                                </div>
                            </form>
                        </div>
                        <!-- End Widget Newsletter -->
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <!-- Widget About -->
                        <div class="widget text-center text-white widget_about">
                            <img src="{% static 'assets/img/footer-logo-light.svg' %}" alt="" class="svg footer-logo">
                            <p>The anefty first large digital marketplace crypto collectibles & non fungible token buy
                                sell & discover digital assets.</p>

                            <!-- Socials -->
                            <div class="socials d-flex justify-content-center align-items-center">
                                <a href="https://www.twitter.com/" target="_blank"><img
                                        src="{% static 'assets/img/icons/twitter-round.svg' %}" alt="" class="svg"></a>
                                <a href="https://www.instagram.com/" target="_blank"><img
                                        src="{% static 'assets/img/icons/instagram-round.svg' %}" alt="" class="svg"></a>
                                <a href="https://www.pinterest.com/" target="_blank"><img
                                        src="{% static 'assets/img/icons/pinterest.svg' %}" alt="" class="svg"></a>
                                <a href="https://www.whatsapp.com/" target="_blank"><img
                                        src="{% static 'assets/img/icons/whatsapp.svg' %}" alt="" class="svg"></a>
                            </div>
                            <!-- End Socials -->
                        </div>
                        <!-- End Widget About -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- CopyRight Content -->
                        <div class="copyright-content text-center text-white">
                            © 2018 - <span class="currentYear">2022</span> <a href="https://www.themelooks.com/"
                                class="text-white">Themelooks</a>
                            Networks, Inc. All Right Reserved.
                        </div>
                        <!-- End CopyRight Content -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Back to Top Button -->
    <a href="#" class="back-to-top">
        <i class="fas fa-long-arrow-alt-up"></i>
    </a>
    <!-- End Back to Top Button -->


    <!-- ======= jQuery Library ======= -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>

    <!-- ======= Bootstrap Bundle JS ======= -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <!-- ======= Particles JS ======= -->
    <script src="{% static 'assets/plugins/particles/particles.min.js' %}"></script>

    <!-- ======= Menu JS ======= -->
    <script src=" {% static 'assets/js/menu.min.js' %}"></script>

    <!-- ======= Swiper JS ======= -->
    <script src="{% static 'assets/plugins/swiper/swiper-bundle.min.js' %}"></script>

    <!-- ======= Magnific Popup JS ======= -->
    <script src="{% static 'assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- ======= Countdown JS ======= -->
    <script src="{% static 'assets/plugins/countdown/countdown.min.js' %}"></script>

    <!-- ======= Nice select JS ======= -->
    <script src="{% static 'assets/plugins/nice-select/jquery.nice-select.min.js' %}"></script>

    <!-- ======= Isotope JS ======= -->
    <script src="{% static 'assets/plugins/Isotope/isotope.pkgd.js' %}"></script>

    <!-- ======= Wayoints JS ======= -->
    <script src="{% static 'assets/plugins/counterup/waypoints.min.js' %}"></script>

    <!-- ======= CounterUp JS ======= -->
    <script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js' %}"></script>

    <!-- ======= Main JS ======= -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- ======= Custom JS ======= -->
    <script src="{% static 'assets/js/custom.j' %}s"></script>
</body>

</html>